<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <configuration>
    <sitecore>
      <controlSources>
        <source mode="on" namespace="Chips.Sitecore.Fields" assembly="Chips.Sitecore.Fields" prefix="chips" factory="FactoryContainerAdapter"/>
      </controlSources>
    </sitecore>
  </configuration>
</configuration>
