<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chips.Sitecore.ApplicationContainer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Chips.Sitecore.ApplicationContainer.Properties.Settings>
            <setting name="IgnoreProductList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>YUI Compressor</string>
                        <string>Microsoft.AspNet.Identity.Owin</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IgnoreCompaniesList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Sitecore Corporation A/S.</string>
                        <string>Microsoft</string>
                        <string>Microsoft Corporation</string>
                        <string>Microsoft Corporation.</string>
                        <string>MongoDB Inc.</string>
                        <string>.NET Foundation and Contributors.</string>
                        <string>Newtonsoft</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Chips.Sitecore.ApplicationContainer.Properties.Settings>
    </applicationSettings>
</configuration>