<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Chips.Sitecore.ApplicationContainer.SimpleInjector.InitialiseControllerFactory, Chips.Sitecore.ApplicationContainer.SimpleInjector"
                   patch:instead="*[@type='Sitecore.Mvc.Pipelines.Loader.InitializeControllerFactory, Sitecore.Mvc']"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>